<div>
  <h1>Shopping List</h1>

  <% if @shopping_list.empty? %>
    <p>List is empty</p>
  <% else %>

    <div>
      <p>
        Amount of food to buy: <%= @total_items %>
      </p>
      <p>
        Total value of food needed: <%= number_to_currency(@total_price) %>
      </p>
    </div>

    <div>
    <table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @shopping_list.each do |item| %>
          <tr>
            <td><%= link_to item[:food].name, food_path(item[:food]) %></td>
            <td><%= "#{item[:quantity]} #{item[:food].measurement_unit}" %></td>
            <td><%= number_to_currency(item[:price]) %></td>
          </tr>
        <% end %>
      </tbody>
     </table>
    </div>
    
    <%= link_to '<< Back to Recipes', recipes_path %>
  <% end %>
</section>