<div class="w-full flex justify-end">
  <%= link_to 'New recipe', new_recipe_path, class:"bg-neutral px-4 py-2 rounded-lg m-2 text-white" %>
</div>

<% @recipes.each do |recipe| %>
    <div class="p-2 border-2 w-full max-w-lg flex flex-col justify-start gap-2">
      <%= link_to recipe_path(recipe) do %>
        <div class="flex w-full gap-2 text-lg">
          <p class="w-1/3"> <%= recipe.name %> </p>
          <p class="w-2/3"> <%=recipe.description %> </p>
        </div>
      <% end %>
      <%= button_to 'REMOVE', recipe_path(recipe), method: :delete, class:"px-4 py-2 rounded-lg bg-rose-700 text-white hover:bg-rose-900" %>
    </div>
<% end %>
