<div class="flex flex-col items-center w-full">
  <h2 class="font-bold text-4xl my-2">Modify Ingredient</h2>

  <%= form_with(model: @recipe_food, url: recipe_recipe_food_path(@recipe, @recipe_food), method: :patch, html: { class: "contents" }) do |f| %>
    <div>
      <p>Ingedrient: <%= @recipe_food.food.name %></p>
    </div>

    <div>
      <%= f.label :quantity, 'Quantity' %>
      <%= f.number_field :quantity, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 " %>
    </div>

    <div>
      <%= f.submit "Update Ingedrient", class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium hover:bg-primary-focus" %>
    </div>
  <% end %>
</div>
