<div class="flex flex-col items-center w-full">
  <h2 class="font-bold text-4xl my-2">Add Ingredient</h2>

  <%= form_with(model: @recipe_food, url: recipe_recipe_foods_path(@recipe), method: :post, html: { class: "contents max-w-lg" }) do |f| %>

    <div class="my-1 flex items-start">
      <%= f.label :food_id, 'Food' %>
      <%= f.collection_select :food_id, Food.order(:name), :id, :name, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 " %>
    </div>

    <div class="my-1">
      <%= f.label :quantity, 'Quantity' %>
      <%= f.number_field :quantity, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 " %>
    </div>

    <div class="my-5">
      <%= f.submit 'Add ingredient', class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium hover:bg-primary-focus" %>
    </div>

  <% end %>
</div>
